.services h2 {
    color: #1e90ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
form{
    margin:auto;
    width: 400px;
}
input,textarea{
    width: 50%;
    padding: 10px;
    border: 1px solid #1e90ff;
    border-radius: 3px;
    font-size: 14px;
}
button{
    color: white;
    margin-top: 15px;
    padding: 0;
    background-color: #00bfff;
}