h2, h3{
    color: #1e90ff;
}
.head{
    margin-bottom: 50px;
}
*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.mid {
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 50%;
}
.mid:hover{
    background-color: #e6f7ff;
}
.mid img{
    width: 200px;
}
.Bottom{
    margin-top: 12px;
    line-height: 32px;
}
.Bottom hr{
    width: 40%;
}