* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: rgb(190, 246, 183);
  font-size: 14px;
}
header {
  background-image: url(https://suachualaptop24h.com/upload_images/images/2024/08/06/hinh-nen-san-bong-da-dep-19.jpeg);
  text-align: center;
  height: 130px;
  padding: 60px;
  margin-bottom: 40px;
  background-size: cover;
}
header h1:hover {
  color: blue;
}
.menu {
  width: 100%;
  text-align: center;
  background-color: green;
  padding: 15px;
  top: 0;
  z-index: 1000;
  position: fixed;
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: 0.3s;
}
.menu a:hover {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 5px;
  text-decoration: underline;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: static;
}
.banner {
  background-image: url("https://hanoispiritofplace.com/wp-content/uploads/2017/06/hinh-nen-bong-da-dep-2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 20px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10px;
}
.banner img {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  margin: 20px;
  transition: all 1s ease;
}
.banner img:hover {
  transform: scale(1.1);
}
section {
  background: white;
  margin: 30px 0;
  padding: 40px;
  border-radius: 10px;
  color: #1a472a;
  line-height: 2;
}
section h2 {
  color: #1a472a;
  margin-bottom: 20px;
  font-size: 2em;
  border-right: 5px solid #2d8659;
  padding-left: 15px;
}
.note {
  background-color: rgb(247, 220, 170);
  border-radius: 5px;
  padding: 20px;
  border-left: 5px solid orange;
  color: #1a472a;
  margin-top: 20px;
}
.table {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  color: white;
  text-align: left;
  background-color: #1a472a;
  padding: 10px;
}
.table td {
  padding: 10px;
  color: #2d8659;
  border-bottom: 1px solid rgb(11, 255, 64);
}
.table tr:hover {
  background-color: antiquewhite;
}
.calendar {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
  width: 100%;
}
.calendar h2 {
  color: #1a472a;
  border-right: 5px solid green;
}
h3 {
  color: #1a472a;
}
li {
  color: #1a472a;
  line-height: 2;
  border-bottom: 1px dashed green;
}
.achievement {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}
.achievement h2 {
  margin-bottom: 15px;
}
.achievement table {
  width: 100%;
  padding-bottom: 20px;
  border: none;
}
.achievement th {
  background-color: #1a472a;
  color: aliceblue;
  text-align: left;
  padding: 10px;
}
.achievement td {
  padding: 20px;
  color: #1a472a;
}
.achievement tfoot td {
  text-align: center;
  background-color: aliceblue;
  font-weight: bold;
}
.achievement tbody tr:hover {
  background-color: beige;
}
.register {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}
.register h2 {
  border-bottom: 3px solid rgb(102, 145, 37);
  margin-bottom: 15px;
}
.register form {
  background-color: rgb(161, 178, 255);
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.register p {
  margin-bottom: 20px;
  color: #1a472a;
}
.group {
  margin-bottom: 20px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="range"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
button {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background-color: #1a472a;
  color: white;
  transition: all 0.3s;
}
button:hover {
  background-color: rgb(21, 138, 21);
}
footer {
  background-color: #2d8659;
  text-align: center;
  padding: 20px;
  color: white;
}
